.one{
    height: 200px;
}
.two{
    height: 200px;
}
.three{
    height: 200px;
}
.four{
    height: 200px;
}
.five{
    height: 200px;
}
.six{
    height: 200px;
}
.seven{
    height: 200px;
}
.eight{
    height: 200px;
}
.nine{
    height: 200px;
}
.ten{
    height: 200px;
}
.slick-slide > div {
    margin: 0px 10px;
}
